<!DOCTYPE html>
<html>
    <head>
        <title>Document aggregator API</title>
        <style type="text/css">
            td.False {
                color: gray;
            }
            td.True {
                color: limegreen;
            }
        </style>
    </head>
    <body>
        @RenderBody()
    </body>
</html>