<!DOCTYPE html>
<html>
    <head>
        <title>Document aggregator API</title>
        <style type="text/css">
            td.False {
                color: gray;
            }
            td.True {
                color: limegreen;
            }
            span.Ready {
                color: forestgreen;
            }
            span.Wrong {
                color: darkred;
            }
            span.Dot {
                height: 10px;
                width: 10px;
                background-color: #ddd;
                border-radius: 50%;
                display: inline-block;
                border: 2px solid #bbb;
                margin-right: 5px;
                margin-left: 5px;
            }
            span.Critical {
                background-color: #000;
                border: 2px solid #f33;
            }
            span.Error {
                background-color: #f33;
                border: 2px solid #f77;
            }
            span.Warning {
                background-color: #f77;
                border: 2px solid #ff7;
            }
            span.Information {
                background-color: #ff7;
                border: 2px solid #7f7;
            }
            span.Debug {
                background-color: #7f7;
                border: 2px solid #7ff;
            }
            span.Trace {
                background-color: #7ff;
                border: 2px solid #ddd;
            }
        </style>
    </head>
    <body>
        @RenderBody()
    </body>
</html>